@font-face {
  font-family: "Miama";
  src: local("Miama Regular"), url("/assets/fonts/Miama.otf");
  font-weight: 400;
}

/* --------- */
/* CSS Reset */
/* --------- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
select,
textarea,
button {
  font: inherit;
}

/* ------------------- */
/* css custom property */
/* ------------------- */

:root {
  /* color */
  --clr-dark-100: hsl(0, 0%, 0%);
  --clr-dark-200: hsl(0, 0%, 13%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsla(0, 0%, 100%, 0.5);

  --clr-accent-400: hsl(8, 77%, 57%);

  /* font family */
  --ff-inter: "Inter", sans-serif;
  --ff-miama: Miama, sans-serif;

  /* font size */
  --fs-900: clamp(2.25rem, 5vw, 4.875rem); /* 78px */
  --fs-800: clamp(2rem, 5vw, 3rem); /* 48px */
  --fs-700: 2rem; /* 32px */
  --fs-600: 1.75rem; /* 28px */
  --fs-500: 1.125rem; /* 18px */
  --fs-400: 1rem; /* 16px */
  --fs-300: 0.875rem; /* 14px */

  /* font weight */
  --fw-900: 900;
  --fw-800: 800;
  --fw-700: 700;
  --fw-500: 500;
  --fw-400: 400;
}

body {
  background-color: var(--clr-dark-100);
  font-family: var(--ff-inter);
  color: var(--clr-neutral-100);
  font-size: var(--fs-300);
  font-weight: var(--fw-400);
  line-height: 1.3;
}

.btn {
  border: none;
  outline: none;
  color: var(--clr-neutral-100);
  font-size: var(--fs-500);
  background-color: var(--clr-accent-400);
  line-height: 1.375rem;
  outline: none;
  cursor: pointer;
  padding: 0.8rem 2rem;
  border-radius: 50px;
  width: 224px;
  margin-block-start: 2.125rem;
}

.active {
  background-color: transparent;
  border: 1px solid var(--clr-neutral-100);
  border-radius: 50px;
}

.container {
  max-width: 1060px;
  width: 95%;
  margin: 0 auto;
}

/* ---------------- */
/* Utility approach */
/* ---------------- */

.flx {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  align-items: center;
}

/* font color style */
.clr-light {
  color: var(--clr-neutral-100);
}
.clr-gray {
  color: var(--clr-neutral-200);
}

/* font family style */

.ff-inter {
  font-family: var(--ff-inter);
}
.ff-miama {
  font-family: var(--ff-miama);
}

/* font-size style  */

.fs-title {
  font-size: var(--fs-800);
}

/* font-weight style */
.fw-800 {
  font-weight: var(--fw-800);
}
.fw-700 {
  font-weight: var(--fw-700);
}

.txt-aln {
  text-align: center;
}

/* ------------- */
/* shared style */
/* ------------- */

section {
  margin-block-end: 5.625rem;
}

.section-title {
  font-size: var(--fs-800);
  color: var(--clr-neutral-100);
  font-weight: var(--fw-800);
  line-height: 1.2;
  margin-block-end: 0.875rem;
}

.description {
  color: var(--clr-neutral-200);
}

/* ----------------- */
/* Header part style */
/* ----------------- */

header {
  background-image: linear-gradient(
    360deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
}

/* navigation style */

nav {
  padding: 2rem 0;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  color: var(--clr-accent-400);
  font-size: 2.3rem;
  font-style: italic;
}

.nav-items {
  gap: 2.3rem;
  border: 1px solid hsl(from var(--clr-neutral-200) h s l / 0.3);
  border-radius: 50px;
}

.nav-link {
  padding: 0.7rem 1.4rem;
  color: var(--clr-neutral-100);
  font-size: 1.2rem;
  border-radius: 50px;
  display: inline-block;
}

#hembarg-menu {
  display: none;
}

.nav-link:where(:hover, :focus) {
  background-color: var(--clr-accent-400);
}

/* hero related style */
.hero {
  padding: 3rem 0;
  justify-content: center;
  align-items: center;
}

.hero-section {
  display: grid;
  place-content: center;
  width: 50%;
}

.hero-title {
  line-height: 1;
  margin-block-end: 1rem;
}

.hero-btn {
  gap: 1.2rem;
}

.hero-mass {
  position: relative;
  padding: 2rem;
  background-color: transparent;
  margin-bottom: 1rem;
}
.hero-mass h1,
p {
  background-color: transparent;
}

/* ---------- */
/* main style */
/* ---------- */

/* change-habit style */
.change-habits {
  & .section-text {
    max-width: 40rem;
    margin: 0 auto 3.625rem;
  }

  & .change-habits-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;

    & .card {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      & picture {
        margin-block-end: 1.875rem;
        & img {
          border-radius: 100px;
          border: 4px solid hsl(from var(--clr-neutral-100) h s l / 0.1);
        }
      }

      & .card-txt {
        max-width: 14.45rem;

        & .card-title {
          font-size: var(--fs-500);
          margin-block-end: 0.375rem;
        }
      }
    }
  }
}

/* run related style */
.run {
  & .container {
    border-radius: 18px;
    background: var(--clr-dark-200);
    padding: 2rem;
    gap: 10.3125rem;
    justify-content: space-between;

    & .run-content {
      width: 50%;
    }

    & .run-image {
      width: 35%;
      height: 312px;
      border-radius: 18px;
      background-image: url(../assets/images/run.jpg);
      background-position: 70% 30%;
      background-size: 320%;
      background-repeat: no-repeat;
    }
  }
}

/*  */

/* Mobile responsive style */

@media screen and (max-width: 576px) {
  .nav-items {
    display: none;
  }

  /* hero style */
  .hero {
    flex-direction: column;
    & .hero-section {
      width: 100%;
    }
  }

  /* change habits style */
  .change-habits {
    & .change-habits-cards {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 2.5rem;
    }
  }

  /* run related style */
  .run {
    & .container {
      gap: 1.94rem;
      flex-direction: column;

      & .run-content {
        width: 100%;

        & .btn {
          width: 100%;
        }
      }

      & .run-image {
        width: 100%;
      }
    }
  }
}

/* Tablate responsive style */
@media screen and (min-width: 576px) and (max-width: 992px) {
  nav {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  /* hero style */
  .hero {
    flex-direction: column;
  }
  .hero-section {
    width: 100%;
  }

  /* change habits style */
  .change-habits {
    & .change-habits-cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2.5rem;
    }
  }

  /* run related style */
  .run {
    & .container {
      gap: 4.25rem;
    }
  }
}
